<div>
  <h2>Bienvenido, {{usuario}}</h2>
  <p>Esta es la sección de novedades.</p>
  <a href="/admin/login/logout">Cerrar sesión</a>

  <!-- File: views/novedades.hbs -->
<div class="video-container">
  <video width="640" height="360" controls autoplay loop muted>
    <source src="/image/login/seba.mp4" type="video/mp4">
    <!-- Agrega más formatos si es necesario -->
    Tu navegador no soporta el elemento de video.
  </video>
</div>

</div>

