<footer>
    <p>@ 2025 Desarrollado Por Tabacco Sebastian:</p>
    <ul>
      <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://skype.com" target="_blank"><i class="fab fa-skype"></i></a></li>
      <li><a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </footer>