<header>
 <div class="profesional-text">
   <h2>NUCLEO WEB</h2>
</div>

  <nav>
    <ul>
      <li><a href="/staff">Staff</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/contacto">Contactos</a></li>
    </ul>
    <div class="login-area">
      <!-- Ícono que activa el desplegable del login -->
      <div class="login-icon" onclick="expandLogin()">
        <i class="fas fa-user"></i>
      </div>
      <!-- Se incluye el partial del formulario de login -->
      {{> login}}
    </div>
  </nav>
</header>

{{!--.branding {
  text-align: center;
  margin-bottom: 20px;
}
/* Estilos para el título con animación */
.branding h1 {
  font-size: 2.5em;
  color: #cd4eec; /* Cambia según tu diseño */
  letter-spacing: 1px;
  margin: 0;
  display: inline-block;
  /* Animación: sube y baja continuamente */
  animation: verticalBounce 2s ease-in-out infinite;
}
/* Definición de la animación */
@keyframes verticalBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      25px
    ); /* Ajusta el valor para mayor o menor desplazamiento */
  }
}--}}