<div class="login-container" id="login-container">
  <div class="login-icon">
    <i class="fas fa-user-circle"></i>
  </div>
  <h2>Iniciar Sesión</h2>
  <form method="post" action="/admin/login">
    <div>
      <label>Usuario:</label>
      <input type="text" name="usuario" required>
    </div>
    <div>
      <label>Contraseña:</label>
      <input type="password" name="password" required>
    </div>
    <div>
      <button type="submit">Entrar</button>
    </div>
  </form>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
</div>








 