<section class="news-container">
  <h2>Noticias del Día</h2>
  <marquee direction="left" scrollamount="5">
    <span>
      <img src="/image/noticias/dolar.jpg">
      "IMPORTANTE"> Tensión por el dólar blue:el lunes tras la eliminación del cepo y el inicio de un nuevo esquema cambiario en Argentina, el precio del dólar blue cerró el último viernes a $ 1.355 para la compra y $ 1.375 para la venta.</span>
    <span>
      <img src="/image/noticias/Musk.jpg" width="150px" height="100px">
    E.E.U.U > Elon Musk propuso anexar el territorio más importante del Ártico con EE.UU: "Debemos aceptarlos"
    </span>
    <span>
      <img src="/image/noticias/minicraf.jpg" width="150px" height="100px">
      "CINE" > A Minecraft Movie” recauda 80,6 millones en su segundo fin de semana en cines
      </span>
  </marquee>
</section>

<section id="carousel-section">
  <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/image/novedades/1.jpg" class="d-block w-100" alt="Imagen 1">
      </div>
      <div class="carousel-item">
        <img src="/image/logo/Logo1.png" class="d-block w-100" alt="Imagen 2">
      </div>
      <div class="carousel-item">
        <img src="/image/novedades/mapeo.webp" class="d-block w-100" alt="Imagen 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</section>

<section class="currency-ticker-container">
  <h2>Cambio de Divisas</h2>
  <marquee direction="left" scrollamount="5">
    <span><i class="fas fa-dollar-sign"></i> USD: $250 </span>
    <span><i class="fas fa-euro-sign"></i> EURO: €270 </span>
    <span><i class="fab fa-bitcoin"></i> BTC: ₿0.004 </span>
  </marquee>
</section>

