<div class="historia">
  <small>
    " En Desarrollo & Hosting Web "
    <p>Creamos tecnología para transformar lo cotidiano. Combinando el mundo real y el digital, ayudamos a los clientes
      a enfrentar los grandes desafíos de nuestro tiempo.
      Estamos orientados a crear valor, crear tecnología con propósito y, por lo tanto, mejorar la vida de miles de
      millones de personas.
      Es una plataforma empresarial digital abierta que permite a los clientes acelerar su transformación digital de
      forma más sencilla, rápida y a escala.</p>
  </small>
</div>

<!--info medio-->
<div class="image-text-container">
  <div class="image-side">
    <img src="/image/novedades/info.png" alt="Imagen descriptiva">
  </div>
  <div class="text-side">
    <h1>Sitios web personalizados y a medida</h1>

    <p>Llevamos a cabo proyectos de diseño web de todo tipo y a la medida de las necesidades del cliente (empresas,
      negocios, pymes, organizaciones, profesionales, independientes).

      Desarrollar un sitio web desde cero te garantiza una solución a medida, optimizada para cubrir todos tus
      requisitos y brindar una experiencia única a tus usuarios.</p>
  </div>
</div>



<section class="ticker-container">
  <h2>Información Financiera</h2>
  <div class="ticker">
    <div class="ticker-item">
      <h3><i class="fas fa-credit-card"></i> Dólar Tarjeta</h3>
      <p>$1.599</p> <small>12,10% Últimas 24 hs</small>
    </div>
    <div class="ticker-item">
      <h3><i class="fas fa-university"></i> Dólar Oficial</h3>
      <p>$1.230</p> <small>12,10% Últimas 24 hs</small>
    </div>
    <div class="ticker-item">
      <h3><i class="fas fa-money-bill-wave"></i> Dólar Blue</h3>
      <p>$1.285</p> <small>6,55% Últimas 24 hs</small>
    </div>
    <div class="ticker-item">
      <h3><i class="fas fa-chart-line"></i> Dólar MEP</h3>
      <p>$1.247,30</p> <small>6,40% Últimas 24 hs</small>
    </div>
    <div class="ticker-item">
      <h3><i class="fas fa-exchange-alt"></i> Contado con Liqui</h3>
      <p>$1.251,60</p> <small>6,83% Últimas 24 hs</small>
    </div>
    <div class="ticker-item">
      <h3><i class="fas fa-globe"></i> Riesgo País</h3>
      <p>890</p> <small>1,80% Últimas 24 hs</small>
    </div>
  </div>
</section>