<div class="staff-admin">
  <div class="admin-text">
    <h1>Administración</h1>
    <h2>Como máximo órgano de dirección de la empresa, la Junta Directiva se compromete a servir a los intereses de la empresa y a lograr un crecimiento sostenible del valor de la empresa.
         A continuación, también encontrará más información sobre la gestión de nuestros negocios.</h2>
  </div>
  <div class="estaff-1">
    <img src="/image/nosotros/administracion.webp" alt="Administración">
  </div>
</div>

        
<div class="staff-container">
  <div class="staff-member">
    <img src="/image/nosotros/matias.webp" alt="CEO">
    <h3>Matías Rebelde</h3>
    <p>Presidente y Director Ejecutivo</p>
  </div>
  <div class="staff-member">
    <img src="/image/nosotros/cedrik.webp" alt="Gerente">
    <h3>Cedrik Neike</h3>
    <p>Director Financiero</p>
  </div>
  <div class="staff-member">
    <img src="/image/nosotros/ralf.webp" alt="Prorg.">
    <h3>Ralf P. Thomas</h3>
    <p>Miembro de la Junta Directiva</p>
  </div>
  <div class="staff-member">
    <img src="/image/nosotros/judith.webp" alt="Staff 4">
    <h3>Judith Wiese</h3>
    <p>Miembro de la Junta Directiva</p>
  </div>
  <div class="staff-member">
    <img src="/image/nosotros/varonika.webp" alt="Staff 5">
    <h3>Veronika Bienert</h3>
    <p>Miembro de la Junta Directiva</p>
  </div>
  <div class="staff-member">
    <img src="/image/nosotros/peter.webp" alt="Staff 6">
    <h3>Peter Koerte</h3>
    <p>Miembro de la Junta Directiva</p>
  </div>
</div>
