/* Reset */
body,
h1,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* General */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
/* Estilo general del header */
header {
  background-color: #444343;
}
/* Contenedor del nav */
nav {
  display: flex;
  /*  organizar los elementos */
  justify-content: center;
  justify-content: center;
}
/* Lista del menú */
nav ul {
  display: flex;
  /* Cambia los ítems de la lista a disposición horizontal */
  list-style: none;
  /* Elimina los puntos de la lista */
  gap: 20px;
  /* Espaciado entre cada elemento del menú */
  padding: 10px;
  margin: 0;
}

/* Enlaces del menú */
nav ul li a {
  text-decoration: none;
  /* Elimina el subrayado */
  font-size: 1em;
  /* Tamaño de letra (ajusta según lo necesites) */
  font-weight: bold;
  /* Resalta los textos */
  color: darkorange;
  /* Color del texto */
  padding: 10px 20px;
  /* Espaciado interno */
  transition: all 0.3s ease;
  /* Transición suave en el hover */
}

/* Hover efecto */
nav ul li a:hover {
  background-color: #007bff;
  /* Fondo azul al pasar el mouse */
  color: rgb(243, 250, 250);
  /* Texto blanco en el hover */
  border-color: #0056b3;
  /* Cambia el color del borde en el hover */
}

/* Footer */
footer {
  background-color: #333;
  color: rgb(16, 240, 229);
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer ul li a {
  color: white;
  font-size: 20px;
}

/* Icons */
footer ul li a.instagram::before {
  content: "📸";
}

footer ul li a.facebook::before {
  content: "📘";
}

footer ul li a.skype::before {
  content: "💻";
}

footer ul li a.youtube::before {
  content: "📹";
}
.login-container {
  display: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: scale(0.9);
}

.login-container.expanded {
  display: block;
  opacity: 1;
  transform: scale(1);
  background: #ffffff; /* Fondo blanco opcional */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
}

.login-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
